
<div style="border-bottom: 2px;border-bottom-style: solid; ">

    <wired-card  class="p-3 pb-4" elevation="1" style="width: 100%;   justify-content: left;  background-color: white;" >
            <wired-button elevation="2" >entrar</wired-button>
        <wired-button elevation="2">entrar</wired-button>
        <wired-button elevation="2">entrar</wired-button>
        <wired-button elevation="2">entrar</wired-button>
        <wired-button elevation="2">entrar</wired-button>

        
dfsadfdsa    </wired-card>

</div>