

<div style="margin-bottom: 300px;">

    <div class="row " style="justify-content: center;" >
            
            <app-opcao rota="listar-documentos" icone="assets/search.png" cor="#005AC6" texto="Listar corpus documentos"></app-opcao>
            <app-opcao rota="estatisticas" icone="assets/statistics.png" cor="#D90000" texto="Estatisticas"></app-opcao>
            <app-opcao rota="consultas" icone="assets/search.png" cor="#005AC6" texto="Consultas"></app-opcao>
            
        </div>
        
    </div>