
<div class="container mt-5 pt-2" style="justify-content: center;">

    <div class="row">
        <div class="offset-4 col-4 offset-4">
            <wired-card elevation="1" style="width: 500px;height: 460px;justify-content: center; text-align: center; padding: 30px; background-color: white; " elevation="4" >
                    <div >
                        <img height="100px" width="100px" src="../../assets/magnifying-glass.png" alt="">
                    </div>           
                    <div  style="font-size: 40pt">
                        Trabalho final<br> Recuperação da Informação  
                    </div>         
                    <div class="mt-5">

                        <wired-button elevation="3"  style="font-size: 30px;">entrar</wired-button>
                    </div>

                </wired-card>
                
            </div>
        </div>
    </div>

