th,
td {
  // text-align: center;

}

.cartao-listagem {
  border-top: 2px;
  border-top-style: solid;
  margin-top: 20px;
  margin-left: 20px;
  padding: 30px;
  background-color: white;
  font-size: 20px;
  overflow-y: hidden;
}


.spinner-ligado{

    display: inherit;

}

.spinner-desligado{

    display: none;

}